/* Define the default styles for all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Define the styles for the h1 and h2 elements */
h1,
h2 {
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
}

/* Define the styles for the form elements */
form {
  font-family: Arial, sans-serif;
  width: 80%; /* Use relative width instead of fixed width */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  border: 1px solid black;
  font-size: 5vw;
}

input,
select {
  display: block;
  width: 100%; /* Use relative width instead of fixed width */
  margin-bottom: 10px;
  padding: 10px;
  font-size: 4vw; /* Increase the font size of the input values */
}

input[type="submit"] {
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 6vw; /* Increase the font size of the submit button */
}

/* Define the styles for the result element */
#result {
  font-family: Arial, sans-serif;
  width: 80%; /* Use relative width instead of fixed width */
  margin: 20px auto; /* Center the result horizontally */
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  font-size: 12rem;
}
#dosageText {
  display: none;
}

/* Use media queries to define different styles for different screen sizes */

/* If the screen width is less than or equal to 600px, apply the following styles */
@media screen and (max-width: 600px) {
  /* Change the font size of the h1 and h2 elements */
  h1 {
    font-size: 10vw; /* Use viewport width unit instead of fixed size */
  }

  h2 {
    font-size: 8vw; /* Use viewport width unit instead of fixed size */
  }

  /* Change the background color and image of the body element */
  body {
    background-color: lightgreen;
    background-image: url("https://github.com/GoutamChaitanya72/pae_do/blob/4f835966dc9da69eff9baadce2d7a02b2a851e4a/3221598.jpg?raw=true"); /* Set the background image from the URL */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: cover; /* Resize the image to cover the entire container */
    background-position: center; /* Align the image to the center of the element */ 
}

  /* Change the text color of the h1 element */
  h1 {
    color: navy;
  }

  /* Change the text color of the h2 element */
  h2 {
    color: red;
  }
}

/* If the screen width is greater than 600px and less than or equal to 1200px, apply the following styles */
@media screen and (min-width: 600px) and (max-width: 1200px) {
  /* Change the font size of the h1 and h2 elements */
  h1 {
    font-size: 8vw; /* Use viewport width unit instead of fixed size */
  }

  h2 {
    font-size: 6vw; /* Use viewport width unit instead of fixed size */
  }

  /* Change the background color and image of the body element */
  body {
    background-color: lightblue;
    background-image: url("https://github.com/GoutamChaitanya72/pae_do/blob/4f835966dc9da69eff9baadce2d7a02b2a851e4a/3221598.jpg?raw=true"); /* Set the background image from the URL */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: cover; /* Resize the image to cover the entire container */
    background-position: center; /* Align the image to the center of the element */
  }

  /* Change the text color of the h1 element */
  h1 {
    color: navy;
  }

  /* Change the text color of the h2 element */
  h2 {
    color: red;
  }
}

/* If the screen width is greater than 1200px, apply the following styles */
@media screen and (min-width: 1200px) {
  /* Change the font size of the h1 and h2 elements */
  h1 {
    font-size: 10vw; /* Use viewport width unit instead of fixed size */
  }

  h2 {
    font-size: 8vw; /* Use viewport width unit instead of fixed size */
  }
  /* Change the background color and image of the body element */
  body {
    background-color: lightpink;
    background-image: url("https://github.com/GoutamChaitanya72/pae_do/blob/764cb14fb22fa396dbca8c3559ab0d82b1a7a2fb/3221598.jpg?raw=true"); /* Set the background image from the URL */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: cover; /* Resize the image to cover the entire container */
    background-position: center; /* Align the image to the center of the element */
  }
}
